@media (max-width:700px){
    .menu-hamburger{
        display: block;
        
        width: 20px;
        height: 20px;
        border-top: 2px solid;  
        cursor: pointer;
    }

    .menu-hamburger::after{
        display: block;
        content: '';
        margin-top: 6px;
        width: 20px;
        background: currentColor;
        border-bottom: 2px solid ;
          
    }
    .menu-hamburger::before{
        display: block;
        content: '';
        width: 20px;
        margin-top: 6px;
        background: currentColor;
        border-bottom: 2px solid ; 
    }

    .active .menu-hamburger{
        border-top: none;
        
    }

    .active .menu-hamburger::after{
        transform: rotate(135deg);
        transition: 0.5s;

       
    }
    .active .menu-hamburger::before{
        transform: rotate(-135deg);
        transition: 0.5s;
        position: relative;
        top: 8px;
    }
    
    nav a{     
        display: block;   
        margin: auto;
    }  
        
     ul {
        display: flex;
        flex-direction: column;
        gap:40px ; 
        position: absolute;
        top: 100%;
        left: 0px;
        height: 0vh;
        width: 100%;
        margin: auto;
        padding: 0px;
        text-align: center;
        background-color: var(--cor2); 
        visibility: hidden;
        overflow-y: hidden;       
        
    }
    .active ul{
        height: 100vh;
        visibility: visible;
        transition: 0.7s;
    }
    ul a{
        border: solid 1px transparent;
    }
    ul a:hover{
        border: 1px solid var(--cor0);
        transition: 0.4;
    }

}