@media (max-width:600px){
    .menu-hamburger{
        display: block;
        width: 20px;
        height: 20px;
        border-top: 2px solid;  
    }

    .menu-hamburger::after{
        display: block;
        content: '';
        margin-top: 6px;
        width: 20px;
        background: currentColor;
        border-bottom: 2px solid ;
          
    }
    .menu-hamburger::before{
        display: block;
        content: '';
        width: 20px;
        margin-top: 6px;
        background: currentColor;
        border-bottom: 2px solid ; 
    }
  /*
    nav a:hover{
        
        border: 2px solid var(--cor0);
        transition: 0.8s;
    }*/

    nav{
        border: solid seagreen;
    }
    ul{
        border: solid 1px;
        position: absolute;
        top: 40px;
        
    }
    .active ul {
        display: flex;
        flex-direction: column;
        gap:40px ; 
        /*position: absolute;*/
        top: 100%;
        left: 0px;
        height: 70vh;
        width: 100%;
        margin: auto;
        text-align: center;
        background-color: var(--cor2); 
        
    }
    

}