@media  (min-width: 700px) and (max-width: 1000px){

    .text-nome > h1 {
        font-size: 2.1em;
        width: 100%;
    }
    
    .foto-principal img{
        width: 80%;
    }

    .sobre{
        padding: 20px;
        text-align: justify;
    }
    .Meus-projetos{
    display: flex;
    justify-content: center;
    gap: 5%;
    max-width: 100%;
    margin: 0 auto;
    }

    .dados-grup{
        display: flex;
        justify-content: space-around;
        gap: 5%;
        width: 100%;
        margin: 20px auto 0px;
        padding: 30px;
    }

    .secao1, .secao2, .secao3{
        width: 35%;
        padding: 5px;
    }

    .textarea{
        display: flex;
        width: 90%;
        margin: 20px auto 0px;
        padding: 30px;
    }

    .textarea textarea{
        width: 85%;
    }

    .textarea div {
        display: flex;
        justify-content: end;
        width: 88%;
    }
}

@media (max-width:700px) {
    .conteiner-header{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    nav ul{
        display: none;
        
    }
    .header h1{
        font-size: 1.4em;
    }
    .header p{
        font-size: .8em;
    }
    .text-nome  p{
        width: 60%;
        max-width: 170px;
    }
    
    .sobre{
        padding: 15px;
        text-align: justify;
        
    }
    .skils{
        flex-direction: column;
    }

    .foto-principal{
        display: none;
    }

    /*CONTAINER PROJETOS*/
    .Meus-projetos{
        flex-direction: column;
        gap: 40px;
    }
    .competencias{
        text-align: justify;
    }
    /*CONTAINTER LOCALIZAÇÃO TEL LINKEDIN*/
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100px;
    }

    /* CONTAINER  INPUT NOME SOBREN E-MAIL*/
    .grupo-e-mail{
        flex-direction: column;
        gap: 20px;
        padding-top: 10px;
    }
    
    .grupo-e-mail input{
        margin: 0px;
        width: 100%;
    }
    
}